@page "/usuarios"
@inject HttpClient Http
@using Domain.Models
@using System.Net.Http.Headers
<PageTitle>Usuarios</PageTitle>

<h1>Usuarios</h1>


@if (usuarios == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Fecha de Nacimiento</th>
                <th>Legajo</th>
                <th>Tipo de Persona</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Direccion</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.Fecha_Nac</td>
                    <td>@usuario.Legajo</td>
                    <td>@usuario.Tipo_Persona</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        UsuariosApiClient client = new UsuariosApiClient();

        usuarios = await UsuariosApiClient.GetAllAsync();
    }
    public class UsuariosApiClient
    {
        private static HttpClient client = new HttpClient();
        static UsuariosApiClient()
        {
            client.BaseAddress = new Uri("http://localhost:5003/");
            client.DefaultRequestHeaders.Accept.Clear();
            client.DefaultRequestHeaders.Accept.Add(
                new MediaTypeWithQualityHeaderValue("application/json"));
        }

        public static async Task<IEnumerable<Usuario>> GetAllAsync()
        {
            IEnumerable<Usuario> usuarios = null;
            HttpResponseMessage response = await client.GetAsync("usuarios");
            if (response.IsSuccessStatusCode)
            {
                usuarios = await response.Content.ReadAsAsync<IEnumerable<Usuario>>();

            }
            return usuarios;
        }

    }

}
